button {
border: 2px solid black;
display: block;
margin: auto;
height: 50px;
font-size: 25px;
background-color: #0099ff;
}

h1{
text-align: center;
font-size: 50px; 
}

.box {
border: 3px solid black;
height: 200px;
width: 200px;
font-size: 150px;
text-align: center;
color: blue;
}

body {
background-color: grey;
}

table {
margin: auto;

}

#message {
text-align: center;
margin: 25px;
font-size: 25px;
}

